.container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 15px;
}
.container > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container img {
  max-width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Mobile Formatting */
@media (max-width: 520px) {
  .container {
    flex-direction: column;
  }
  .container img {
    max-width: 100%;
    max-height: 220px;
  }
}
@media (max-width: 520px) {
  .container img {
    max-height: 120px;
  }
}
/* Theming 
 *		Applied alongside .container
*/
/* Mondstadt */
.mond {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
}