/*
 *	Backgrounds for the page (behind Main and SideNav)
 *		Each class refers to a different theme
*/
.lyt {
  background-image: url("../../public/images/lynette_pattern.svg");
  background-size: 23%;
}

.test {
  background-color: transparent;
}