/*
 *	Backgrounds for the page (behind Main and SideNav)
 *		Each class refers to a different theme
*/
.lyt {
  background-image: url("../../public/images/lynette_pattern.svg");
  background-size: 23%;
  height: 100vh;
}

.ri {
  background-image: url("https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avg/backgrounds/26_g5_laterano_chapelout.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.test {
  background-color: #bbb;
}