.container {
  display: grid;
  grid: "left center right";
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 80vh;
}

.main {
  grid-area: center;
  background-color: var(--lyt-main);
  color: var(--lyt-txt);
}
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  color: var(--lyt-header);
}
.main a {
  color: var(--lyt-a);
}
.main a:hover {
  color: var(--lyt-a-h);
}
.main a:active {
  color: var(--lyt-a-a);
}