/* Container that holds the entire details list section */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.container details {
  display: block;
  width: 80%;
  padding: 0 12px;
  margin: 10px;
}
.container details hr {
  margin: 0 auto;
}
.container hr {
  border: 2px solid;
}
.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
  margin: 0 auto;
}

/* Container that holds content within each summary element
 *		summaryContainer is used so that the arrow on the side doesn't get messed up
 */
.summaryContainer {
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.summaryContainer img {
  max-width: 70px;
  margin-left: 15px;
}

/* Container that holds content under the dropdown in each details element
 * 		textContainer is used to distinguish the main content of each 
 *		details element from the hr
 */
.textContainer {
  padding: 12px;
  padding-bottom: 15px;
  white-space: pre-wrap;
}

/* Theming 
 *	Applied alongside .container
*/
/* Rhodes Island */
.ri details {
  background-color: white;
}
.ri details summary::marker {
  color: var(--ri-blue2);
}
.ri details[open] summary::marker {
  color: var(--ri-blue1);
}
.ri h1, .ri h2, .ri h3, .ri h4, .ri h5, .ri h6 {
  font-family: "RobotoCondensed", RobotoCondensed, sans-serif;
  color: var(--ri-gray5);
}
.ri .summaryContainer img {
  background-color: var(--ri-gray6);
  border-radius: 40px;
}