/*
 *	Styling for the 404 page
*/
.center {
  text-align: center;
}

.jean {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
}

@media (max-width: 600px) {
  .jean {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 500px) {
  .jean {
    width: 300px;
    height: 300px;
  }
}