/*
 *	CUSTOM FONTS
 *
 *	Doesn't seem to work with absolute paths. Stick to relative paths.
*/
/* Friday October Twelve */
@font-face {
  font-family: FridayOctoberTwelve;
  src: url("../../public/fonts/FridayOctoberTwelve.otf");
}
@font-face {
  font-family: FridayOctoberTwelve;
  src: url("../../public/fonts/FridayOctoberTwelveItalic.otf");
  font-style: italic;
}
/* 	
 *	Xue Voice:
 *	Dehasta
*/
.nav {
  grid-area: left;
  justify-self: end;
  margin-right: 3vh;
  margin-top: 3vh;
  height: 85%;
  width: 65%;
  border-radius: 30px 5px 5px 30px;
  display: flex;
  flex-direction: column;
}

/*
 *	Content container
*/
.container {
  padding: 2vh;
}

/*	
 *	Styling for the top container within the side navigation menu
 *		Styles the link and h1 element
*/
.top h1 {
  font-size: 28px;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

/*	
 *	Styling for the custom divider using an image
 *		Setting the image done where since it wouldn't appear on sidenav.js
*/
.divider {
  height: 55px;
}

/*	
 *	Styling for the bottom container within the side navigation menu
 *		Styles the link buttons
*/
.bottom {
  height: 100%;
  border-radius: 0 0px 0px 25px;
  height: 100%;
  overflow-y: auto;
}
.bottom a {
  display: flex;
  text-decoration: none;
}
.bottom button {
  width: 100%;
  padding: 1vh;
}
.bottom::-webkit-scrollbar {
  background-color: transparent;
  width: 1vh;
}
.bottom::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

/*	Theming
 *		Applied alongside .nav
*/
/* Lynette*/
.lyt {
  --gold: #9D9286;
  --gray: #333333;
  background-color: var(--lyt-main);
  border: var(--gold) solid 5px;
}
.lyt .divider {
  background-image: url("../../public/images/lynette_teacup_segment.svg");
  background-size: 120px;
  background-repeat: repeat-x;
  height: 55px;
  width: 100%;
  background-color: var(--gray);
  border-top: var(--gold) solid 5px;
}
.lyt .bottom {
  background-color: var(--gray);
  scrollbar-color: var(--lyt-scroll) var(--lyt-scroll-h);
}
.lyt .bottom::-webkit-scrollbar-thumb {
  background-color: rgba(157, 146, 134, 0.7);
}
.lyt .bottom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(157, 146, 134, 0.9);
}
.lyt .bottom button {
  border: var(--gold) solid 4px;
  border-radius: 10px;
}