/*
 *	CUSTOM FONTS
 *
 *	Doesn't seem to work with absolute paths. Stick to relative paths.
*/
/* Friday October Twelve */
@font-face {
  font-family: FridayOctoberTwelve;
  src: url("../../public/fonts/FridayOctoberTwelve.otf");
}
@font-face {
  font-family: FridayOctoberTwelve;
  src: url("../../public/fonts/FridayOctoberTwelveItalic.otf");
  font-style: italic;
}
/* 	
 *	Xue Voice:
 *	Dehasta
*/
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: grid;
  grid: "left buttons right";
  grid-template-columns: 1fr auto 1fr;
  gap: 10%;
  background-color: var(--lyt-nav);
  font-family: FridayOctoberTwelve, "Friday October Twelve", "Comic Sans", sans-serif;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 2vh;
}

.buttons button {
  border: 0px;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  padding: 0 2vh 0 2vh;
  margin: 0 auto;
  height: 65%;
  font-size: 20px;
  font-family: FridayOctoberTwelve, "Friday October Twelve", "Comic Sans", sans-serif;
  background-color: var(--lyt-nav);
  color: var(--lyt-nav-a);
}
.buttons button:hover {
  background-color: var(--lyt-nav-h);
  color: var(--lyt-nav-a-h);
}
.buttons button:active {
  background-color: var(--lyt-nav-h);
  color: var(--lyt-nav-a-a);
}

.buttons a {
  display: flex;
  text-decoration: none;
}

.indicator {
  justify-self: start;
  margin: 6px;
  padding: 2px;
  border-radius: 99px;
  opacity: 50%;
  background-color: var(--lyt-indic);
}
.indicator:hover {
  transition: opacity 0.1s;
  opacity: 100%;
}

@media (max-width: 900px) {
  .buttons button {
    font-size: 18px;
  }
}
@media (max-width: 785px) {
  .nav {
    grid: "top" "buttons";
    gap: 1.25vh;
  }
  .indicator {
    justify-self: center;
  }
  .buttons {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1vh;
    padding-bottom: 2vh;
  }
  .buttons button {
    height: 100%;
    padding: 2vh 1.5vh 2vh 1.5vh;
    width: 95%;
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .buttons {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
  }
}