

@mixin colors($bg, $text) {
	background-color: var($bg);
	color: var($text);
}

@mixin scrollbarColorsFF($thumb, $track){
	scrollbar-color: var($thumb) var($track);
	
}

@mixin scrollbarColor($color){
	$scroll: $color;
	&::-webkit-scrollbar-thumb {
		background-color: transparentize($scroll, 0.3);
		&:hover {
			background-color: transparentize($scroll, 0.1);
		}
	}
}
