$nav-color: #22374D;
$nav-hover-color: #426476;

$nav-a-color: #D8D9E2;
$nav-a-hover-color: #FFFFFF;
$nav-a-active-color: #A5A5BD;

$indicator-bg: #426476;

$footer-color: #F2ECE7;
$footer-bg-color: #375468;