:root {
	--shrink-right-1: 1200px;

	/*  
	 *	Lynette Colors 
	*/

	--lyt-white1: #D8D9E2;	// slight purple tint
	--lyt-white2: #F2ECE7; // slight tan tint

	--lyt-brown1: #C6BBB6;
	--lyt-brown2: #B39A8C;
	--lyt-brown3: #B88F63;
	--lyt-brown4: #885F37;
	--lyt-brown5: #5A3619;
	--lyt-brown6: #381508;

	--lyt-blue1: #22374D;
	--lyt-blue2: #426476;
	--lyt-blue3: #375468;
	--lyt-blue4: #032C34;
	--lyt-blue5: #075969;
	--lyt-blue6: #096F83;
	--lyt-blut7: #064D5B;

	--lyt-violet1: #A5A5BD;
	--lyt-violet2: #DBB1EF;
	--lyt-violet3: #362265;

	--lyt-teal1: #3CA9A8;
	--lyt-teal2: #08A8B1;
	--lyt-teal3: #25C9CC;
	

	/*
	 *	Lynette Theme
	*/

	--lyt-bg: var(--lyt-teal1);

	// Top Navigation Bar
	--lyt-nav: var(--lyt-blue1);
	--lyt-nav-h: var(--lyt-blue2);

	--lyt-nav-a: var(--lyt-white1);
	--lyt-nav-a-h: white;
	--lyt-nav-a-a: var(--lyt-violet1);

	--lyt-indic: var(--lyt-blue2);

	--lyt-foot: var(--lyt-blue3);
	--lyt-foot-txt: var(--lyt-white2);

	// Main Content
	--lyt-main: var(--lyt-white1);
	--lyt-txt: var(--lyt-blue4);
	--lyt-header: var(--lyt-blue5);

	--lyt-a: var(--lyt-teal2);
	--lyt-a-h: var(--lyt-teal3);
	--lyt-a-a: var(--lyt-blue6);

	// Scrollbar Thumb
	--lyt-scroll: rgba(3,44,52,0.7); // blue4 w/ a = 0.7	
	--lyt-scroll-h: rgba(3,44,52,0.9);// blue4 w/ a = 0.9
	
	// Navigation Tables
	--lyt-tbl: var(--lyt-blut7);
	--lyt-tbl-h: var(--lyt-blue4);
	--lyt-tbl-b: var(--lyt-teal2);
	--lyt-tbl-a: var(--lyt-brown1);
	--lyt-tbl-a-h: var(--lyt-white2);
	--lyt-tbl-a-a: var(--lyt-brown2);
	
	// Sidebar Navigation
	--lyt-sd: var(--lyt-brown3);
	--lyt-sd-hdr:var(--lyt-brown6);
	--lyt-sd-hdr-h: var(--lyt-brown5);
	--lyt-sd-hr: var(--lyt-brown5);

	--lyt-sd-itm: var(--lyt-brown4);
	--lyt-sd-itm-h: var(--lyt-brown6);
	--lyt-sd-itm-brdr: var(--lyt-brown5);

	--lyt-sd-a: var(--lyt-white1);
	--lyt-sd-a-h: white;
	--lyt-sd-a-a: var(--lyt-violet1);

	--lyt-sd-scroll: var(--lyt-brown4);
	--lyt-sd-scroll-h: var(--lyt-brown5);
	
	// Dialogue Bubbles
	--lyt-bub-L: var(--lyt-violet3);
	--lyt-bub-L-txt: var(--lyt-white1);
	--lyt-bub-R: var(--lyt-violet2);
	--lyt-bub-R-txt: var(--lyt-violet3)
}