.container {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin-bottom: 15px;

	> div {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}

	img {
		max-width: 30%;
		object-fit: contain;
	}
}

/* Mobile Formatting */
@media (max-width:520px) {
	.container {
		flex-direction: column;
		img {
			max-width: 100%;
			max-height: 220px;
		}
	}
}
@media (max-width:520px) {
	.container img {
		max-height: 120px;
	}
}

/* Theming 
 *		Applied alongside .container
*/

/* Mondstadt */
.mond {
	background-color: rgba($color: white, $alpha: 0.15);
	border-radius: 25px;
}