// TODO: comments
.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;

	details {
		display: block;
		width: 80%;
		padding: 0 12px;
		margin: 10px;

		hr{
			margin: 0 auto;
		}
	}

	summary {
		margin-bottom: 8px;	// centers the lil arrow dropdown thing
		position: relative;
	}

	hr {
		border: 2px solid;
	}

	h1,h2,h3,h4,h5,h6 {
		margin: 0 auto;
	}
}

.summaryContainer {
	// position: absolute;
	display: inline-flex;
	align-items: center;
	padding-left: 10px;

	$vertical-padding: 13px;
	padding-top: $vertical-padding;
	padding-bottom: $vertical-padding;
}

.textContainer {
	padding: 12px;
	white-space: pre-wrap;
}

/* Theming 
 *	Applied alongside .container
*/

/* Rhodes Island */
.ri {
	
	details{
		background-color: white;

		summary::marker {
			color: var(--ri-blue2);
		}

		&[open] {
			summary::marker {
				color: var(--ri-blue1);
			}
		}
	}

	h1,h2,h3,h4,h5,h6 {
		font-family: 'RobotoCondensed',RobotoCondensed,sans-serif;
		color: var(--ri-gray5);
	}
}