@use "../components/color-mixins" as *;
@use "../components/fonts" as *;

.container {
	display: flex;
	flex-direction: column;
}

.bubble {
	display: inline-block;
	border-radius: 10px;
	padding: 7px;
	margin: 3px!important;
	max-width: 55%;
	width: fit-content;
}

.left {
	@include colors(var(--lyt-bub-L), var(--lyt-bub-L-txt));
}

.right {
	@include colors(var(--lyt-bub-R), var(--lyt-bub-R-txt));
	align-self: flex-end;
	text-align: right;
}

/* Speaker Fonts */
.nat {
	@include nat-voice;
	font-size: 85%;
}
.xue {
	@include xue-voice;
}

// TODO: theming