@use "sass:math";

/*
 *	Styling for the main container of content and content within
 *	TODO: themes
 * TODO: comments
 * TODO: style scrollbar
*/

@mixin main-color($bg, $txt) {
	background-color: var($bg);
	color: var($txt);
}

.container {
	// Keep main and footer in center of page
	grid-area: center;

	// Removes awkward gap between main and footer
	display: flex;
	flex-direction: column;

	/* 
	 *	Styles scrollbar on the side of main and footer
	*/
	// Scroll the container rather than the page
	height: 89.5vh;
	overflow-y: auto;

	// Scrollbar settings
	scrollbar-color: var(--lyt-scroll) var(--lyt-scroll-h);
	&::-webkit-scrollbar {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--lyt-scroll);
        border-radius: 50px;

        &:hover {
            background-color: var(--lyt-scroll-h);
        }
    }
}

.main {
	padding: 2vh;
	
	@include main-color(--lyt-main, --lyt-txt);

	h1,h2,h3,h4,h5,h6 {
		color: var(--lyt-header);
	}

	a {
		color: var(--lyt-a);
		
		&:hover {
			color: var(--lyt-a-h);
		}
		&:active {
			color: var(--lyt-a-a);
		}
	}
}

.footer {
	background-color: var(--lyt-foot);
	color: var(--lyt-foot-txt);

	padding: 2vh;
	text-align: center;

	min-height: 8vh;
}