@use "../components/color-mixins" as *;

/*
 *	Styling for the main container of content and content within
*/

/*
 *	Contains main container and footer in center of page
 * 	Scrollbar applied here
*/
.container {
	// Center of page
	grid-area: center;

	// Removes awkward gap between main and footer
	display: flex;
	flex-direction: column;

	/* Styles scrollbar on the side of main and footer */
	// Scroll the container rather than the page
	height: 89.5vh;
	overflow-y: auto;

	/* Scrollbar settings */
	&::-webkit-scrollbar {
        background-color: transparent;
		width: 1.5vh;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
    }
}

/*
 *	Contains contents of the page that the user is looking for
*/
.main {
	padding: 2vh;
	font-family: Mattilda, serif;
	font-size: 18px;
	h1,h2,h3,h4,h5,h6 {
		font-family:Handlee, 'Handlee', cursive;
	}
}

/*
 *	Footer at the bottom of the page below the main container
*/
.footer {
	min-height: 8vh;	// maintains that the footer exists on the page w/o content

	padding: 2vh;
	text-align: center;
	p {
		margin: 0;
	}
}

/* Mobile formatting */
// @media (max-width:850px) {
// 	.container {
// 		width: 100%;
// 	}
// }

/*	Theming
 * 		Applied alongside .container
*/

/* Lynette */
.lyt {
	/* 	Note about $scroll: update with --lyt-scroll manually
	 * 		SASS color functions, i.e. transparentize(), rgba(), etc.,
	 *		do not take CSS variables so the color must be copied
	 * 		from root.scss manually
	*/
	$scroll: #032C34;

	// Scrollbar Settings
	@include scrollbarColorsFF(--lyt-scroll, --lyt-scroll-h);	// for firefox
	@include scrollbarColor($scroll);

	.main {
		// Background & text color
		@include colors(--lyt-main, --lyt-txt);

		// Header colors
		h1,h2,h3,h4,h5,h6 {
			color: var(--lyt-header);
		}

		// Link colors TODO: create mixin
		a {
			color: var(--lyt-a);
			&:hover {
				color: var(--lyt-a-h);
			}
			&:active {
				color: var(--lyt-a-a);
			}
		}
	}

	.footer {
		@include colors(--lyt-foot, --lyt-foot-txt);
	}
}