@use "../components/color-mixins" as *;

/*
 *	Styling for the main container of content and content within
*/

/*
 *	Contains main container and footer in center of page
 * 	Scrollbar applied here
*/
.container {
	// Center of page
	grid-area: center;

	// Removes awkward gap between main and footer
	display: flex;
	flex-direction: column;

	/* Styles scrollbar on the side of main and footer */
	// Scroll the container rather than the page
	height: 89.5vh;
	overflow-y: auto;

	/* Scrollbar settings */
	&::-webkit-scrollbar {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
    }
}

/*
 *	Contains contents of the page that the user is looking for
*/
.main {
	padding: 2vh;
}

/*
 *	Footer at the bottom of the page below the main container
*/
.footer {
	min-height: 8vh;	// maintains that the footer exists on the page w/o content

	padding: 2vh;
	text-align: center;
	
}

/*
 * 	Theming
 * 		Applied alongside .container
*/

/* Lynette */
.lyt {
	// Scrollbar Settings
	@include scrollbarColors(--lyt-scroll, --lyt-scroll-h);	// for firefox
    &::-webkit-scrollbar-thumb {
		@include bgColor(--lyt-scroll);
        &:hover {
			@include bgColor(--lyt-scroll-h);
        }
    }
	.main {
		// Background & text color
		@include colors(--lyt-main, --lyt-txt);

		// Header colors
		h1,h2,h3,h4,h5,h6 {
			@include textColor(--lyt-header);
		}

		// Link colors
		a {
			@include textColor(--lyt-a);
			&:hover {
				@include textColor(--lyt-a-h);
			}
			&:active {
				@include textColor(--lyt-a-a);
			}
		}
	}
	.footer {
		@include colors(--lyt-foot, --lyt-foot-txt);
	}
}