// TODO: documentation
// TODO: mobile formatting

.oneCol {
	display: flex;
	flex-direction: column;
	text-align: center;
	button {
		width: 60%;
		padding-left: 65px;
		padding-right: 65px;
	}
}

.twoCol {
	display: grid;
	grid-template-columns: repeat(2, minmax(0,1fr));
	column-gap: 10px;
	text-align: center;
	padding-top: 10px;
	button {
		width: 95%;		
	}

	// Push buttons toward center of grid
	a {
		&:nth-child(odd) {
			text-align: right;
			button { 
				text-align: right;
			}
		}
		&:nth-child(even) {
			text-align: left;
			button {
				text-align: left;
			}
		}
		// Padding so text doesn't disappear under sticker
		&:nth-child(4n+1) button {
			padding-left: 68px;
		}
		&:nth-child(4n+2) button {
			padding-right: 68px;
		}
		&:nth-child(4n+3) button {
			padding-left: 80px;
		}
		&:nth-child(4n) button {
			padding-right: 80px;
		}
	}
}



/* Mobile Formatting */
@media (max-width: 550px) {
	.oneCol button {
		padding-left: 35px;
		padding-right: 35px;
	}
	.twoCol a {		
		&:nth-child(odd) button {
			padding-left: 45px;
		}
		&:nth-child(even) button {
			padding-right: 45px;
		}
	}
}
@media (max-width: 400px) {
	.oneCol button {
		padding-left: 10px;
		padding-right: 10px;
	}
	.twoCol a {		
		&:nth-child(odd) button {
			padding-left: 10px;
		}
		&:nth-child(even) button {
			padding-right: 10px;
		}
	}
}
