// TODO: documentation
// TODO: mobile formatting

.oneCol {
	display: flex;
	flex-direction: column;
	text-align: center;
	button {
		width: 60%;
	}
}

.twoCol {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	text-align: center;
	padding-top: 10px;
	button {
		width: 95%;		
	}

	// Push buttons toward center of grid
	a {
		&:nth-child(odd) {
			text-align: right;
			button { 
				text-align: right;
			}
		}
		&:nth-child(even) {
			text-align: left;
			button {
				text-align: left;
			}
		}
	}
}

.test {
	grid-row: 2;
	grid-column: 2;
}