@use "../components/fonts";
@use "../components/color-mixins" as *;


/*	Styles the container that holds the entire navigation menu */
.nav {
	// Positioning
	grid-area: left;
	justify-self: end;
	margin-right: 3vh;
	margin-top: 3vh;

	// Shape
	height: 85%;
	width: 65%;
	border-radius: 30px 5px 5px 30px;

	// Appearance
	display: flex;
	flex-direction: column;
}

/*	Content container within .nav */
.container {
	padding: 2vh;
}

/*	Styling for the top container within the side navigation menu
 *		Styles the link and h1 element */
// TODO: adjust after fonts are added
.top {
	h1 {
		font-size: 28px;
		margin-top: 0.5vh;
		margin-bottom: 1vh;
	}
}

/*	Styling for the custom divider using an image
 *		Setting the image done where since it wouldn't appear on sidenav.js */
.divider {
	height: 55px;
}

/*	Styling for the bottom container within the side navigation menu
 *		Styles the link buttons */
.bottom {
	height: 100%;
	border-radius: 0 0px 0px 25px;

	a {
		display: flex;
		text-decoration: none;
	}

	button {
		width: 100%;
		padding: 1vh;
	}

	// scroll settings
	height: 100%;
	overflow-y: auto;
	&::-webkit-scrollbar {
        background-color: transparent;
		width: 1vh;
    }
	&::-webkit-scrollbar-thumb {
        border-radius: 2px;
    }
}


/*	Mobile formatting */
@media (max-width: 1250px) {
	.nav {
		width: 75%;
	}
}
@media (max-width: 1150px) {
	.nav {
		width: 80%;
	}
}
@media (max-width: 970px) {
	.nav {
		width: 90%;
		margin-right: 2vh;
	}
}
@media (max-width: 850px) {
	.nav {
		display: none;
	}
}


/*	Theming
 *		Applied alongside .nav */

/* Lynette*/
.lyt {
	--gold: #9D9286;
	--gray: #333333;

	// .nav
	background-color: var(--lyt-main);
	border: var(--gold) solid 5px;

	.divider {
		background-image: url("../../public/images/lynette_teacup_segment.svg");
		background-size: 120px;
		background-repeat: repeat-x;
		height: 55px;
		width: 100%;

		background-color: var(--gray);
		border-top: var(--gold) solid 5px;
	}

	.bottom {
		background-color: var(--gray);
		$scroll: #161616;

		// scroll settings
		@include scrollbarColorsFF(--lyt-scroll, --lyt-scroll-h);	// for firefox TODO:
		@include scrollbarColor($scroll);

		button {
			border: var(--gold) solid 4px;
			border-radius: 10px;
			// TODO: background color
		}
	}
}

/* Template/Test */
.test {
	//.nav
	background-color: transparent;

	.divider {
		height: 55px;
		width: 100%;
		background-color: transparent;
	}

	.bottom {
		background-color: transparent;

		//scroll settings
		$scroll: black;
		@include scrollbarColorsFF($scroll, $scroll);
		@include scrollbarColor($scroll);

		button {
			background-color: white;
		}
	}
}












