@use "../components/fonts";
@use "../components/color-mixins" as *;

/*
 *	Styles the navigation bar at the top of the screen
 *	Splits the bar into three parts
 *		left 	- for the indicator
 *		buttons - in the center, for navigation buttons
 *		right	- empty space
*/
.nav {
	position: sticky;
	top: 0;
	width: 100%;

	display: grid;
	grid: 'left buttons right';
	grid-template-columns: 1fr auto 1fr;
	gap: 2vh;
}


/*
 *	Styling of container that holds navigation buttons at center of top navigation bar
*/
.buttons {
	// Positioning (self)
	grid-area: buttons;

	// Positioning (contents)
	display: grid;
	grid-template-columns: repeat(6, auto);
	gap: 2vh;
}

/*
 *	Styling of button's links
*/
.buttons a {
	display: flex;
	text-decoration: none;
}

/*
 *	Styling of buttons in navigation bar
*/
.buttons button {
	// Align self in center of grid section
	align-self: center;
	justify-self: center;

	// Dimensions
	padding:  0 2vh 0 2vh;
	margin: 0 auto;
	height: 65%;

	// Appearance
	border: 0px;
}

/*
 *	Styling of image in left corner of navigation bar
*/
.indicator {
	justify-self: start;	// Keep left

	// Spacing
	margin: 6px;
    padding: 2px;

    border-radius: 99px;	// Become a circle
    opacity: 50%;			// Half transparent by default

	// Becomes opaque when mouse hovers over
	&:hover {
		transition: opacity 0.1s;
		opacity: 100%;
	}
}

/* 	Theming 
 *		Applied alongside .nav
*/

/* Lynette */
.lyt {
	background-color: var(--lyt-nav);
	font-family: FridayOctoberTwelve, 'Friday October Twelve', 'Comic Sans', sans-serif;

	.buttons button {
		border-radius: 15px;
		@include btn-colors(--lyt-nav, --lyt-nav-a,--lyt-nav-h,--lyt-nav-a-h,--lyt-nav-h, --lyt-nav-a-a);
		font-size: 20px;
		// font-family: FridayOctoberTwelve, 'Friday October Twelve', 'Comic Sans', sans-serif;
	}

	.indicator {
		background-color: var(--lyt-indic);
	}
}












/* Mobile Formatting 
*/
@media (max-width: 900px) {
	.buttons button {
		font-size: 18px;
	}
}

@media (max-width: 785px) {
	.nav {
		grid: 'top' 'buttons';
		gap: 1.25vh;
	}
	.indicator {
		justify-self: center;
	}
	.buttons {
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2, auto);
		gap: 1vh;
		padding-bottom: 2vh;
	}
	.buttons button {
		height: 100%;
		padding: 2vh 1.5vh 2vh 1.5vh;
		width: 95%;
		font-size: 18px;
	}
}

@media (max-width: 425px) {
	.buttons {
		grid-template-columns: auto;
		grid-template-rows: repeat(6, auto);
		// gap: 1vh;
		// padding-bottom: 2vh;
	}
}