@use "../components/fonts";

$nav-font: FridayOctoberTwelve, 'Friday October Twelve', 'Comic Sans', sans-serif;

@mixin nav ($bg-color, $font) {
	position: sticky;
	top: 0;

	display: grid;
	grid: 'left buttons right';
	grid-template-columns: 1fr auto 1fr;
	gap: 10%;

	background-color: var($bg-color);
	font-family: $font;
}

.nav {
	@include nav(--lyt-nav, $nav-font);
}

.buttons {
	grid-area: buttons;
	display: grid;
	grid-template-columns: repeat(6, auto);
	gap: 2vh;
}

@mixin button ($bg-color, $text-color) {
	border: 0px;
	border-radius: 15px;

	align-self: center;
	justify-self: center;

	padding:  0 2vh 0 2vh;
	margin: 0 auto;
	height: 75%;

	font-size: 16px;
	font-family: $nav-font;

	background-color: var($bg-color);
	color: var($text-color);
}

@mixin button-colors ($bg-color, $text-color) {
	background-color: var($bg-color);
	color: var($text-color);
}

.buttons button {
	@include button(--lyt-nav, --lyt-nav-a);

	&:hover {
		@include button-colors(--lyt-nav-h,--lyt-nav-a-h);
	}
	&:active {
		@include button-colors(--lyt-nav-h, --lyt-nav-a-a)
	}
}

@mixin indicator ($bg-color) {
	justify-self: start;
	margin: 6px;
    padding: 2px;
    border-radius: 99px;
    opacity: 50%;

	background-color: var($bg-color);
}

.indicator {
	@include indicator(--lyt-indic);

	&:hover {
		transition: opacity 0.1s;
		opacity: 100%;
	}
}

@media (max-width: 800px) {
	.nav {
		grid: 	'top'
				'buttons';
		gap: 2vh;
	}
	.indicator {
		justify-self: center;
	}
	.buttons {
		grid-template-columns: auto;
		grid-template-rows: repeat(6, auto);
		gap: 3vh;
		padding-bottom: 2vh;
	}
	.buttons button {
		height: 100%;
		padding: 3vh;
		width: 65%;
	}
}

@media (max-width: 525px) {
	.buttons button {
		width: 85%;
	}
}